/* Import abstracts files */
/* MEDIA QUERY SIZES */
/* COLORS */
/* FONTS */
/* Position in center if parent */
/* MEDIA QUERY MANAGER */
/* USE FOR RESPONSIVE IMAGES */
/* Import Base files */
/* RESET BROWSER DEFAULT STYLES */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

/* SET DEFAULT BODY STYLES */
body {
  font-family: sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #333; }

/* Import Component files */
/* Import Layout files */
/* Import Page files */
