
/* MEDIA QUERY SIZES */
// 1em  = 16px   eg. 600px / 16px = 37.5rem

$bp-small : 37.5em;          // 0 - 600px            : small
$bp-meduim : 56.25em;     // 600px -900px      : meduim
$bp-large : 75em;          // 900px -1200px    : large
                                         // 1200px - 1800px : Normal styles
$bp-xlarge : 112.5em;        // 1800px  +            : xlarge

/* COLORS */
$color-primary: #c69963;


$color-primary-light: rgb(180, 147, 110);
$color-primary-dark:rgb(151, 113, 70);

$color-secondery-light: #5a9ae4;
$color-secondery-dark: #101d2c;

$color-tertiary-light: #69FD69;
$color-tertiary-dark: #144614;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;

$color-black:#000;
$color-white:#fff;
/* FONTS */
$default-font-size:1.6rem;
$font-small:1.2rem;
$font-meduim:1.4rem;
$font-large:2rem;
$font-xlarge:3.5rem;


