.accommodation{
    grid-column: full-start /8;
    grid-row: 1 / 2;
    margin:3rem 0 3rem 3rem ;
    &__details{
        grid-column: full-start /8;
        grid-row: 3 / -1;
        margin:3rem 0 3rem 3rem;
    }
}